[submodule "circuit/v1/efm/csv2kicad"]
	path = circuit/v1/efm/csv2kicad
	url = https://github.com/hairykiwi/csv2kicad.git
[submodule "circuit/v2/efm/csv2kicad"]
	path = circuit/v2/efm/csv2kicad
	url = https://github.com/hairykiwi/csv2kicad.git
[submodule "firmware/efm32-base"]
	path = firmware/efm32-base
	url = https://github.com/ryankurte/efm32-base
