[Unit]
Description=Tail Anchor Daemon
Documentation=man:tail
Requires=network.target
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/sbin/anchord -s resistor.qs.unipart.io

[Install]
WantedBy=multi-user.target

