[Unit]
Description=Tail RTLS Daemon
Documentation=man:tail
Requires=network.target
After=systemd-networkd-wait-online.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/sbin/rtlsd --force-beacon=A1 --force-common=A10

[Install]
WantedBy=multi-user.target

